.processing,
.delivered,
.cancel,
.pending {
  background-color: rgb(204 207 0 / 90%);
  color: black;
  border-radius: 100px;
  height: 40px;
  margin: 8px auto;
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.productlist_table .cancel {
  background-color: rgba(217, 0, 0, 0.9);
}
.delivered {
  background-color: rgba(63, 195, 128, 0.9);
}
.processing {
  background-color: rgb(39 0 255 / 53%);
}
