.product_page_searchbox {
  padding: 25px;
  border: 0 solid #d5d6d7;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  background-color: rgba(26, 28, 35/0.7);
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 20px;
  gap: 4%;
  background: #fff;
}
.product_page_uploadbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
  gap: 10px;
  float: right;
}
.product_page_uploadbox .product_page_uploadbox_one {
  position: relative;
}
.product_page_uploadbox .hiddeninput {
  position: absolute;
  width: 100%;
  left: -2px;
  top: 10px;
  opacity: 0;
}

.upload_filebox {
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-radius: 6px;
  border-color: green;
  display: flex;
  flex-direction: column;
  height: 3.9em;
  justify-content: center;
  padding: 0px 0.2em;
  cursor: pointer;
}
.actioncolimn {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 18px;
}
.actioncolimn .editiconn {
  font-size: 20px;
  z-index: 1 !important;
}
.productdescbox {
  padding: 10px 0;
}

.productdesc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.productlist_table button#productstatus_dropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -11px;
  left: -30px;
  opacity: 0;
}
.productlist_table
  .actioncolimn
  .productprofile_div
  .product_list_dropdownstatus {
  z-index: 999;
  background-color: black;
}
.productlist_table
  .actioncolimn
  .productprofile_div
  .product_list_dropdownstatus
  .product_list_dropdownstatus_link {
  color: #fff;
  z-index: 999;
}
.productlist_table
  .actioncolimn
  .productprofile_div
  .product_list_dropdownstatus
  .product_list_dropdownstatus_link:hover {
  color: black;
  z-index: 999;
}
.productlist_table .beUiVL {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.productlist_table .actioncolimn .doticon {
  position: relative;
}
.productlist_table .sc-jSUZER.eVPPvF .actioncolimn,
.productlist_table .sc-jSUZER.eVPPvF > div {
  overflow: unset !important;
}
.dtqzBx div.dropdown:first-child {
  overflow: unset !important;
}
.statuschhangeselling {
  background-color: rgba(63, 195, 128, 0.9);
  color: black;
  border-radius: 100px;
  height: 23px;
  padding: 0 12px;
}
.statuschhangesold {
  background-color: rgba(242, 38, 19, 0.9);
  color: black;
  border-radius: 100px;
  height: 23px;
  padding: 0 12px;
}

.productlist_table .sc-dkrFOg.iSAVrt.rdt_TableHeadRow {
  background: rgb(89 193 88 / 0.7);
}
.productlist_maindiv {
  height: 100vh;
  overflow: hidden auto;
  padding-bottom: 10px;
}
