.product_page_uploadbox {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}
.product_page_uploadbox .product_page_uploadbox_one {
  position: relative;
}
.product_page_uploadbox .hiddeninput {
  position: absolute;
  width: 100%;
  left: -2px;
  top: 10px;
  opacity: 0;
}

.upload_filebox {
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-radius: 6px;
  border-color: green;
  display: flex;
  flex-direction: column;
  height: 3.9em;
  justify-content: center;
  padding: 0px 0.2em;
  cursor: pointer;
}
.actioncolimn {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 18px;
}
.actioncolimn .editiconn {
  font-size: 20px;
  z-index: 1 !important;
}
.productdescbox {
  padding: 10px 0;
}

.productdesc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.table_body button#productstatus_dropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -11px;
  left: -30px;
  opacity: 0;
}
.table_body
  .actioncolimn
  .productprofile_div
  .product_list_dropdownstatus {
  z-index: 999;
  background-color: black;
}
.table_body
  .actioncolimn
  .productprofile_div
  .product_list_dropdownstatus
  .product_list_dropdownstatus_link {
  color: #fff;
  z-index: 999;
}
.table_body
  .actioncolimn
  .productprofile_div
  .product_list_dropdownstatus
  .product_list_dropdownstatus_link:hover {
  color: black;
  z-index: 999;
}
.table_body .beUiVL {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.table_body .actioncolimn .doticon {
  position: relative;
}
.table_body .bQdYbR{
  font-size: unset;
}

.table_body .sc-jSUZER.eVPPvF .actioncolimn,
.table_body .sc-jSUZER.eVPPvF > div {
  overflow: unset !important;
}
.dtqzBx div.dropdown:first-child {
  overflow: unset !important;
}
.statuschhangeselling {
  background-color: rgba(63, 195, 128, 0.9);
  color: black;
  border-radius: 100px;
  height: 23px;
  padding: 0 12px;
}
.statuschhangesold {
  background-color: rgba(242, 38, 19, 0.9);
  color: black;
  border-radius: 100px;
  height: 23px;
  padding: 0 12px;
}

.table_body .sc-dkrFOg.iSAVrt.rdt_TableHeadRow {
  background: rgb(89 193 88 / 20%);
}

/* Complaint */
.complaintdescbox {
  padding: 10px 0;
}

.complaintdesc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* review */
.reviewdesc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  padding-top: 15px;
}
